<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= devise_error_messages! %>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<%= render "edit_form" %>
