/*.menu-icon {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  top: 5%;
  margin-top: 0px;
  right: 15px;
  box-shadow: 0 0 0 1px #800000, 0 7px 0 1px #800000, 0 14px 0 1px #800000;
  width: 16px; }
.top-bar .toggle-topbar.menu-icon a span:hover:after {
  box-shadow: 0 0 0 1px #800000, 0 7px 0 1px #800000, 0 14px 0 1px #800000; }*/


/*a.left-off-canvas-toggle {}*/
        /*.top-bar .toggle-topbar.menu-icon a span::after {
          content: "";
          position: absolute;
          display: block;
          height: 0;
          top: 50%;
          margin-top: -8px;
          right: 15px;
          box-shadow: 0 0 0 1px #800000, 0 7px 0 1px #800000, 0 14px 0 1px #800000;
          width: 16px; }
        .top-bar .toggle-topbar.menu-icon a span:hover:after {
          box-shadow: 0 0 0 1px #800000, 0 7px 0 1px #800000, 0 14px 0 1px #800000; }
  .top-bar.expanded {
    height: auto;
    background: transparent; }
    .top-bar.expanded .title-area {
      background: rgba(255, 255, 255, 0.05); }
    .top-bar.expanded .toggle-topbar a {
      color: #888888; }
      .top-bar.expanded .toggle-topbar a::after {
        box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888; }*/

        /*a {
        text-indent: -48px;
        width: 34px;
        height: 34px;
        line-height: 33px;
        padding: 0;
        color: black;
        }

        span {
        position: absolute;
        right: 0;
        display: block;
        width: 16px;
        height: 0;
        -webkit-box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
        box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
        }*/
