<p>
  Modify me in `app/views/homes/index.html.erb` or change the root directive in
  `config/routes.rb`
  <br>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non ex id erat lacinia rutrum et aliquam massa. Curabitur eu ipsum eros. Etiam fringilla, ipsum in laoreet tincidunt, sapien arcu ultricies tortor, mattis bibendum lorem dui eu diam. Nunc porttitor turpis vitae vestibulum feugiat. Mauris ac nibh congue, ornare quam vel, condimentum urna. Sed rhoncus commodo nunc eget consequat. Duis arcu tortor, gravida at lorem non, consequat tincidunt metus. In hac habitasse platea dictumst. Fusce eros tellus, commodo faucibus ornare eu, rutrum ac massa. Suspendisse quis commodo nisl. Nullam ut convallis est. Ut tincidunt elit sit amet dolor dapibus dictum. Aenean ullamcorper urna et ligula tempus, non consequat erat maximus. Etiam egestas elementum lectus pretium dictum.
</p>
