<div class="row fullWidth">
  <div id="home-main-image">
    <div class="inner row">
      <!-- text -->
      <div class="home-text-search">
        <h1>Where's Wendy?</h1>
        <h2>Find Wellesley alums near you.</h2>
        <!-- search -->
        <div class="home-search">
          <div class="inner">
            <%= link_to 'Find Wendy', '/' %>
          </div>
        </div>
      </div>

      <img src="http://www.bestcollegevalues.org/wp-content/uploads/2014/10/wellesley1.jpg" width=100%>
    </div>
  </div>
</div>