#home-main-image .inner {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#home-main-image .inner .home-text-search {
  width: 100%;
  margin-top: 0%;
  position: absolute;
  z-index: 2;
  margin-top: 17.36% !important;
}

#home-main-image .inner .home-text-search h1 {
  padding-top: 30px;
  font-family: 'Pacifico', cursive;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 11vw;
  color: #fff;
  text-align: center;
  line-height: 90% !important;
  margin-bottom: 20px;
}

#home-main-image .inner .home-text-search h2 {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 7vw;
  text-align: center;
  color: #fff;
}

#home-main-image .inner .home-text-search .home-search {
  margin-top: 40px !important;
  position: absolute;
  width: 500px;
  height: 80px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  left: 50%;
  margin-left: -250px;
}
